## Interface: 120007
## X-LoadOn-Slash: /gak, /{{package["name"]}}
## Title: |cFFECEFF1{{package["name"]}}
## Notes: {{package["description"]}}
## Author: Cosmic Insurgency
## Version: {{package["version"]}}
## IconTexture: Interface\AddOns\gnomish-army-knife\gnomish-army-knife
## X-Curse-Project-ID: 1574838

meta.lua

buttons.lua

actionbar_page_changed.lua
keymap.lua
keybinds.lua
expectedCVars.lua
target.lua
cvars.lua
create_macros.lua
macros.lua
create_bars.lua
bars.lua
layouts.lua
chat.lua
zen.lua
arena.lua

gnomish-army-knife.lua
